@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@100..900&family=Russo+One&display=swap');
*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.menu{
    color: #fff;
    opacity: .7;
}
.menu:hover{
    color: #fff;
    opacity: .8;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    perspective: 1800px;
    text-align: center;
    margin: 0;
    font-family: "Montserrat", system-ui;
    background: #161616;
}

.parallax_it {
  display: inline-block;
  padding: 40vh 0 30vh 0;
  perspective: 1800px;
  text-align: left;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(11deg) rotateY(16.5deg);
  min-width: 200px;

}
.big_logo{  
   padding: 40vh 0 30vh 0;
   min-width: 160px;
}


.logo{
    width: 3.6em;
}
.smm_link{
    width: 40px;
    margin: 20px 5px;
    opacity: .7;
}
.smm_link:hover{
    opacity: .9;
}

.fix_head{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1030;
}
.fix_footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}